.nav-bar-header {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    background-color: white;
}

.nav-bar-header h1 {
    font-family: 'TT Norms Pro', sans-serif;
    margin: 0;
    margin-left: 25px;
}

.nav-bar-header-grid {
    display: grid;
    grid-template-columns: 70vw 25vw;
    margin-top: 30px;
    transform: translateY(-50%);
}

.nav-bar-header-grid div {
    margin: auto 0;
}

.nav-bar-header-grid h3 {
    font-family: 'TT Norms Pro', sans-serif;
    margin: auto;
}


.content-right {
    display: flex;
}

.nav-bar-header-grid input {
    height: 25px;
    width: 250px;
    margin: auto 0;
    border: 1px solid #d7dbdf;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.025),0 1px 2px rgba(0,0,0,.05);
    padding-left: 35px;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 15px;
    background: url(../../search.png) no-repeat left;
    background-size: 16px;
    background-position: 10px;
    margin-right: 60px;
}

.nav-bar-header-grid .fa {
    margin: auto;
    margin-left: 10px;
}

.peron {
    display: flex;
    padding: 0px 10px;
    border-radius: 5px;
    height: 40px;
    margin: auto;
}

.peron:hover {
    background-color: #f1f3f5;
    border: 1px solid #d7dbdf;
}

.nav-bar-header-grid h4 {
    background-color: orange;
    margin: auto;
    padding: 8px 5px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
}





/* Left Nav Bar */

.nav-bar-left {
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    width: 12.5vw;
    background-color: white;
    border-right:  1px solid rgba(0, 0, 0, 0.4);
    border-top:  1px solid rgba(0, 0, 0, 0.4);
}

.nav-bar-left ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.nav-bar-left li {
    width: calc(80% - 20px);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'TT Norms Pro', sans-serif;
    color: #11181c;
}

.nav-bar-left li:hover {
    background-color:  #f1f3f5;
}

.vertical-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);

}

.nav-bar-left p {
    margin: 0;
    margin-left: 10%;
    margin-bottom: 5px;
    color:  rgba(0, 0, 0, 0.4);
    font-family: 'TT Norms Pro', sans-serif;
}

.nav-bar-left .falist{
    margin-right: 20px;
}

.nav-bar-left a {
    text-decoration: none;
    color: #11181c;
}

.nav-bar-left-selected {
    background-color:  #f1f3f5;
}

/* Auth Drop Down */

.auth-drop-down {
    position: fixed;
    top: 60px;
    left: 85vw;
    background-color: white;
    width: 12%;
    border-radius: 0px  0px 10px 10px;
    border:  0.5px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.025),0 1px 2px rgba(0,0,0,.05);
    height: auto;
}

.auth-drop-down a {
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'TT Norms Pro', sans-serif; 
    color: black;
    text-decoration: none;

}

.auth-drop-down .fa {
    margin-right: 20px;
}

.auth-drop-down .red {
    color: rgb(182, 41, 41);
    cursor: pointer;
}


/* Usernames */

.usernames {
    position: fixed;
    top: 60px;
    left: 70vw;
    width: 13%;
    border-radius: 0px  0px 10px 10px;
    border:  0.5px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.025),0 1px 2px rgba(0,0,0,.05);
    height: auto;
    background-color: white;
}

.griduser {
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
    width: 90%;
    margin: auto;
    border-top: 0.5px solid  rgba(0, 0, 0, 0.4);
}

.griduser p {
    font-family: 'TT Norms Pro', sans-serif; 
    cursor: pointer;
    margin: auto 15px;
}

.griduser h6 {
    background-color: orange;
    text-align: center;
    border-radius: 50%;
    padding: 12.5px 10px;
    margin: 10px 0px;
    color: white;
}