.top {
    position: fixed;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.top div {
    display: flex;
}

.left {
    margin: 10px;
    font-size: 25px;
    font-family: 'TT Norms Pro', sans-serif;
    margin-left: 40px;
}

.left p {
    margin: none;
}

.fa {
    margin-top: 3px;
    margin-right: 20px;
}

.right {
    margin-left: auto;
    margin-right: none;
    font-size: 25px;
    font-family: 'TT Norms Pro', sans-serif;
}

.search {
    margin-right: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 20px;
    font-family: 'TT Norms Pro', sans-serif;
    border-bottom: 1px solid black;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.leftmenu {
    position: fixed;
    top: 5.25vh;
    height: 94.75vh;
    width: 15vw;
    background-color: white;
    border-right: 1px solid black;
}

.leftmenu ul {
    margin-left: 15%;
    list-style-type: none;
    margin-right: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.leftmenu li {
    padding: 10px;
    font-family: 'TT Norms Pro', sans-serif;
    margin-top: 15px;
    color: rgb(106,115,122);
}


.falist {
    text-align: right;
    float: right;
}

.bluebackground {
    background-color: rgb(229, 241, 255);
    color: rgb(88,100,192);
    border-radius: 10px;
}


.leftmenu p {
    margin-top: 30px;
    font-family: 'TT Norms Pro', sans-serif;
    margin-left: 15%;
    color: rgb(106,115,122);
    font-size: 20px;
}