.homepageheader h1 {
    color: white;
    padding-top: 175px;
    margin-left: 12.5%;
    font-size: 50px;
}

.homepageheader {
    height: 45vh;
    background-color: green;
}

.homepageheader h2 {
    color: white;
    margin-left: 12.5%;
    margin-top: 1%;
    font-size: 25px;
}