.loginbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.22);
    z-index: 2;
}

.logincontainter {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 350px;
}

.logincontainter h4 {
    margin-top: 1.5%;
}

.x {
    position: absolute;
    top: 6%;
    right: 10%;
    font-size: 30px;
    cursor: pointer;
}

.loginform input {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    margin-left: 10%;
    height: 30px;
    width: calc(80% - 10px);
    padding-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Darker Grotesque';
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.loginform {
    margin-top: 20px;
}

.loginform label {
    font-family: 'Darker Grotesque';
    margin-left: 10%;
    font-size: 30px;
}

.loginform button {

    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    margin-left: 10%;
    width: 80%;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Darker Grotesque';
    font-size: 25px;
    margin-top: 30px;
    padding-bottom: 10px;
}
