.registerbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.22);
    z-index: 2;
}

.registercontainer {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 900px;
    width: 350px;
}

.registercontainer h4 {
    margin-top: 5%;
}

button {
    cursor: pointer;
}
