.settingsbackground {
    padding-top: 80px;
    background-color: rgb(231, 230, 233);
    height: 91.5vh;
}

.settingsbackground h2 {
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 400;
    margin-left: 10%;
    color: rgb(50, 48, 49);
}

.settingscontainer {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 250px 1fr;
    border-radius: 20px;
}

.settingscontainer ul {
    list-style-type: none;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

.settingscontainer li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'TT Norms Pro', sans-serif;
    color: rgb(106,115,122);
}

.red {
    color: rgb(214, 46, 41) !important;
}

.rightt {
    width: 90%;
    margin-left: 5%;
}
.rightt h1 {
    color: rgb(50, 48, 49);
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 20px;
}


.griddd {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    width: 93%;
    margin-left: 5%;
}

.griddd img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto 0;
}


.settingsgrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90%;
    margin-top: 25px;
}

.settingsgrid2 h5 {
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.settingsgrid2 h6 {
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.settingsgrid2 input {
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.outline {
    border: 0.75px solid rgb(106,115,122);
    border-radius: 10px;
    margin-bottom: 30px;
}

.outline h3 {
    color: black;
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

.settingsgrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 93%;
    margin-left: 5%;
    margin-top: 20px;
    padding: none;
}

.settingsgrid3 p {
    float: right;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.75px solid rgb(106,115,122);
    color: rgb(50, 48, 49);
    font-family: 'TT Norms Pro', sans-serif;
}



.griddd span {
    float: right;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.75px solid rgb(106,115,122);
    color: rgb(50, 48, 49);
    font-family: 'TT Norms Pro', sans-serif;
}

.settingsgrid3 button {
    float: right;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: rgb(50, 48, 49);
    font-family: 'TT Norms Pro', sans-serif;
    background-color: rgb(229, 241, 255);
    color: rgb(88,100,192);
    font-size: 16px;
}

.faa {
    margin-left: 5px;
}


.textcontainer {
    margin: auto 0;
}
.textcontainer p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(50, 48, 49);
    font-family: 'TT Norms Pro', sans-serif; 
}

.extrabottom {
    margin-bottom: 60px;
}

.boldd {
    font-size: 25px;
    font-weight: 400;
}
