.settings-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin: auto;
    width: 85%;
    margin-top: 100px;
    gap: 50px;
}

.settings-container span {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.025),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #d7dbdf;
}

.settings-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings-container li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'TT Norms Pro', sans-serif;
    cursor: pointer;
}

.settings-container .fa {
    margin-right: 20px;
}

.settings-container .red {
    color: rgb(182, 41, 41);
}

.settings-container .selected {
    background-color: rgb(241,243,245);
}

/* Right Container Profile */
.top-settings {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100px;
}

.initals {
    text-align: center;
    padding: 25px 15px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    margin: auto;
    color: white;
    font-weight: 700;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 20px;
}

.top-settings h3 {
    font-family: 'TT Norms Pro', sans-serif; 
}

.top-settings h4 {
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.line-settings {
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: #d7dbdf;
    margin-top: 10px;
}

.grid-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.grid-settings h5 {
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.grid-settings h6 {
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}


.settings-edit-1 {    
    font-family: 'TT Norms Pro', sans-serif;
    text-align: center;
    width: 50px;
    margin-left: 87.8%;
    padding: 7.5px 12.5px;
    border: 1px solid #d7dbdf;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.grid-settings input {
    border: none;
    border-bottom: 1px solid #d7dbdf;
    font-family: 'TT Norms Pro', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    width: 200px;
}

.grid-settings .error-box-settings {
    border-bottom: 1px solid red;
    border-top: none;
}

.grid-settings .error-message {
    margin-top: 2px;
    font-size: 12px;
    color: red;
}